* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --ff-primary: "Roboto", sans-serif;
    --fc-title:#000;
    --trasition: all 0.3s linear;
    --shadow: 0px 3px 0px 0px #726a6a3f;
    --br:#FEFBFB;   
    --azp: #527EC3;
    --azpr: #273C5D;
    --az:#2F4A72;
}
@media only screen and (max-width:291.99px){
    body{background:#000;}
}
body{ 
    margin: 0px;
}
body header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--br);
}
body header .row #nav-logo{
    width: 20vw;
    height: 11vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background: var(--br);
}
body header #nav-bar{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .row #nav-bar menu{
    display: none;
}
main{
    width: 95%;
    height: 100%;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
    background: var(--az);
}
main #cliente{
    width: 95%;
    height: 95%;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
    background: var(--az);
}
main .titulo{  
    height: 60%;
    width: 100%;
    margin-top: 10px;
    margin-right: 500px;
    align-items: center;
    justify-content: center;
    background: var(--az);
   
}
main .titulo h1{
    display: grid;
    color: var(--br);
}
main .form label{
    color: var(--br);
}

main .form{
    justify-content: center;
    align-items: center;
}
main .form input{
    height: 60%;
    width: 100%;
    margin-top: 10px;
    margin-right: 500px;
    padding: 5px;
    background: var(--br);
}
main .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-bnt{
    width: 10vw;
    height: 40px;
    margin-top: 2rem;
    border-radius: 20px;
    cursor: pointer;
    background: var(--azp);
    color: var(--br);
}
.contato {
    width: 250px;
    height: 110px;
    margin-left: 120px;
}

.contato p {
    margin-top: 25px;
    color: #e8e8e8;
    font-family: OpenSans;
    width: 250px;
    height: 110px;
    line-height: 1.4rem;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 200px;
    background-color: #113048;
    color: #e8e8e8;
    margin-top: 90px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgba(243, 156, 18, 56%);
    margin-left: -370px;
    margin-top: 160px;
    font-family: Raleway;
    font-style: 16px;
    color: #e8e8e8;
}
.informacoes{
    color: #FEFBFB
}